body {
    font-family: Arial, sans-serif;/*フォント指定 */
    background-color: #386ade;/*背景色 */
    margin: 0;/*文字の余白お家の外*/
    padding: 0;/*文字とか画像の境界庭まで */
}
header {
background-color: #204eb9;/*背景色 */
color: white;/*文字色 */
padding: 20px;
text-align: center;/*テキストの整列真ん中、右、左 */
}
.container {
width: 80%; /* コンテンツの幅を画面幅の80%に設定 */
margin: 0 auto; /* 左右中央揃えにする */
}
section {
background-color: white;
padding: 20px;
margin: 20px 0;
box-shadow: 0 0 10px rgba(0,0,0,0.1); /* 枠線 */
}
h1, h2, p {/* 見出し */
margin: 0;
}
h1 {
font-size: 36px;/* 文字大きさ */
}
h2 {
font-size: 28px;
margin-bottom: 10px;/* 下との隙間 */
}
h3 {
font-size: 24px;

}

p {
margin-top: 15px;    
margin: 12px;
margin-bottom: 20px;
}
.projects {
display: flex;/* 縦のものを横にしたりできる */
flex-wrap: wrap;
justify-content: center;

}
/* projectのバランス */
.project {
/*100% -(padding+margin)/2 */
width: 45%;
/* *4 */
margin: 1.5%;
background-color: rgb(205, 206, 221);
/* *4 */
padding: 1%;
box-shadow: 0 0 5px rgba(0,0,0,0.1);
text-align: center;
}

.bighobby{
    font-weight: bold;
    font-size: 19px;

}

#img_hokkaido{
    width: auto;
    height: 500px;
    max-width: 100%;
    max-height: auto;
}

#img_hobby{
    width: auto;
    height: 500px;
    max-width: 100%;
    max-height: auto;

}


.project img{
width: 100%;
height: auto;

}



footer {
text-align: center;
padding: 20px;
background-color: #333;
color: white;

 /* "active" クラスの文字サイズを指定 */

 /* 太字にしたい */
.active {
font-size: 24px; /* 大きさを調整 */
font-weight: bold; /* 太字にする場合 */
}


}